body{
    padding: 50px;
    background-image: url("backg.jpg");
}

#thumbs{
    margin-left: -6px;
    margin-right: -6px;
}

#searchButton {
	color: #fed136;
}

#searchButton:active:after {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.img-wrapper{
    display: table;
    height: 140px;
    width: 200px;
    table-layout: fixed;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}
.outer{
    height: 100%;
}
.inner{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.inner img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 128px;
}

.loader-wrapper{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20000;
    background: #000000;
}
.loader-wrapper.shown{
    display: block;
}

.cssload-loader-inner {
		bottom: 0;
		height: 58px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 97px;
}

.cssload-cssload-loader-line-wrap-wrap {
		animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 49px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		width: 97px;
}
.cssload-loader-line-wrap {
		border: 4px solid transparent;
		border-radius: 100%;
		-o-border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 97px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 97px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
		-o-animation-delay: -57.5ms;
		-ms-animation-delay: -57.5ms;
		-webkit-animation-delay: -57.5ms;
		-moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
		-o-animation-delay: -115ms;
		-ms-animation-delay: -115ms;
		-webkit-animation-delay: -115ms;
		-moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
		-o-animation-delay: -172.5ms;
		-ms-animation-delay: -172.5ms;
		-webkit-animation-delay: -172.5ms;
		-moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
		-o-animation-delay: -230ms;
		-ms-animation-delay: -230ms;
		-webkit-animation-delay: -230ms;
		-moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
		border-color: rgb(234,71,71);
		height: 88px;
		width: 88px;
		top: 7px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
		border-color: rgb(234,234,71);
		height: 74px;
		width: 74px;
		top: 14px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
		border-color: rgb(71,234,71);
		height: 60px;
		width: 60px;
		top: 20px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
		border-color: rgb(71,234,234);
		height: 47px;
		width: 47px;
		top: 27px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
		border-color: rgb(71,71,234);
		height: 33px;
		width: 33px;
		top: 34px;
}

@keyframes cssload-spin {
		0%, 15% {
		transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
		0%, 15% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
		0%, 15% {
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
		0%, 15% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
		0%, 15% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#tenGifs {
	padding-left: 20px;
}

#TrendingText {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 18px;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 0px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase; 
}

#navbar {
  color: #fed136;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
	margin-left: 3px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

